//Components
@import "components/Variables.scss";
@import "components/Loader.scss";
@import "components/ActionButton.scss";
@import "components/buttonLoader.scss";
@import "components/rollerLoader.scss";

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
// Variables
@import 'variables';

//Line awesome icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/css/all.min.css');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*Includes*/

//Main Layout
@import "includes/MainLayout.scss";

//Nav bar Custom
@import "includes/NavbarCustom.scss";


//Tabs Custom
@import "includes/TabsCustom.scss";


//Common Use
@import "includes/CommonUse.scss";


//Customized Bootstrap Classes
@import "includes/CustomizedBootstrapClass";

//Pages
@import "pages/Sales.scss";
@import "custom/popover/popover";

@import "custom/custom.scss";
@import "custom/newCustom.scss";

//For user defined styles
@import "custom-style.scss";

