// User defined styles

.custom-search-block {
    max-width: 400px;
    .form-control {
        border-top-right-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
        height: 39px;
        font-size: 16px;
        color: $lightDarkgrey;
        font-weight: 500;
        outline: 0;
        &:active,
        &:focus {
            border-color: $lightgrey;
        }
    }
    
    .input-group-prepend {
        .input-group-text {
            border-top-left-radius: 30px !important;
            border-bottom-left-radius: 30px !important;
            background: $blue;
            color: $white;
            display:block;
            cursor: pointer;
            i {
                font-size: 23px;
            }
        }
    }
}

.toasted .primary, .toasted.toasted-primary {
    background-color: #e9a846;
    color: $greyblack;
}

#clear-cart-modal {
    .btn {
        border-radius: 30px !important;
    }

    .modal-dialog.modal-dialog-centered.confirm-delete-modal{
        background: rgba(0,0,0,0.55) !important;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        background: transparent !important;

        .modal-center-wrap {
            position: relative;
            background: #e9eef2;
            width: 100%;
            padding: 40px;
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);

            button.close{
                top: 0;
                opacity: 1;
            }

            button.btn.btn-danger.mobile-btn,
            button.btn.btn-secondary.cancel-btn.mobile-btn  {
                border: none;
                padding: 3px 28px !important;
                font-size: 17px !important;
            }

            button.btn.btn-danger.mobile-btn {
                background: $darkblue !important;
            }

            button.btn.btn-secondary.cancel-btn.mobile-btn {
                background: $lightred !important;
            }

            h5 {
                font-size: 26px;
                line-height: 33px;
                font-weight: 600;
                color: $greyblack;
            } 

            h6 {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

#cart-payment-modal {
    .modal-layout-content {
        font-weight: 700;
        padding: 20px !important;
        max-height: none !important;
    }

    .modal-dialog.modal-dialog-centered.biggest-modal-dialog {
        max-width: 900px;
    }
    .modal-content-row {
        h5 {
            font-size: 20px;
            font-weight: 700;
            color: $darkblue;
        }

        .invoiceLogo.text-center {
            width: 100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            padding-bottom:92%;
       
            img.text-center {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                object-fit: cover;
                border: 10px;
            }
            @media screen and (max-width: 767px) {
                max-width: 400px;
                width: 100%;
                padding-bottom: 45%;
            }
        }
    }

    .header-line-height {
        padding: 20px 0;
        small {
            font-size: 15px;
            line-height: 24px;
            display: block;
            text-align: left;
            font-weight: 500;
            color: #202020;
        }
    }

    .invoice-table {
        height: 313px;
        overflow: auto;
        padding-right: 10px;
        th {
            text-transform: capitalize !important;
        }
        .cart-summary-table  {
            text-transform: capitalize;
            font-size: 14px;
            line-height: 21px;
        }
    }

    #js-payment{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        td {
            text-transform: capitalize;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
        }
        .payment-done-block {
            width: 100%;
        }
        .form-group {
            label {
                text-transform: capitalize !important;
            }
        }

        .payment-group {
            margin-bottom: 20px;
            .activePayment {
                background: $blue !important;
                border: none !important;
                border-radius: 30px;
                font-size: 17px !important;
                padding: 4px 20px !important;
                text-transform: capitalize !important;
                margin: 0 0 20px;
            }
        }
        
        .form-control{
            font-weight: 700 !important;
            width: 92%;
        }  

        .payment-button {
            background: $darkblue !important;
            border-radius: 30px !important;
            border: none;
            padding: 7px !important;
            width: 160px;
            line-height: 24px;
            display: inline-block;
            font-weight: 500 !important;
            max-width: 200px;
            margin: 1px 0 0 10px;
            display: block;
        }

        div#js-payment-description {
            height: auto !important;
        }

        .payment-action{
            position: relative;
            bottom: 0;
        }
        
    }
    .payment-recieved-block {
        h4 {
            color: #009a7b;
            font-weight: 700;
            font-size: 26px;
            margin: 30px auto;
        }
    }

    .modal-content-row {
        min-height: auto;
        h5 {
            font-size: 14px;
        }
    }
}

.sales-search {
    .custom-search-block{
        max-width: 100%;
    }
}

.sales-recieve-block {
    .breadcrumb {
        li {
            .online-label {
                color: #009a7b !important;
                border: none;
                padding: 0 !important;
                font-weight: 700;
            }
        }
    }

        .product-cells-wrap {
            .standard-product {
                a.app-color-text {
                    display: block;

                    .product-card-font {
                        outline: 0;
                        background: $darkblue !important;
                        color: $white;
                        padding: 7px 20px;
                        font-size: 14px !important;
                        font-weight: 700;

                        .limit {
                            font-size: 17px;
                        }

                    }
                    &:hover .product-card-font,
                    &:hover .limit {
                        background: $blue !important;
                        transition:0.2s ease;
                    }
                }
                .product-card {
                    .product-img-container {
                      background-size: 87% 87% !important;
                      min-height: 200px; 
                      @media screen and (max-width: 991px) {
                            min-height: 142px !important;
                             max-height: auto !important;
                        }   
                        @media screen and (max-width: 767px) {
                            min-height: 142px !important;
                        }
                    }

                    &:hover {
                        outline: 0;
                    }
 
                }
                .product-card-content {
                    height: auto !important; 
                }
            }
        }

        .cart-items-wrapper {
            .cart-item-container {
                &:last-child {
                    border-bottom: none !important;
                }
            }
            i {
                color: $darkblue;
            }

            i.la.la-trash.del-icon-color {
                font-size: 20px;
                line-height: 26px;
                color: $red !important;
            }
            
        }

        #layoutTop {
            #cart-section-1,#cart-section-2,#cart-section-3, .row.mx-0.cart-item-title, .col-3.d-flex.pr-0.pl-0 .cart-calculatedPrice {
                font-size: 15px !important;
            }

            a.cart-product-details-child.text-right {
                width: auto;
            }


            .cart-calculatedPrice {
                margin-left: 10px;
                width: auto;
                min-width: 100px;
                span {
                    font-weight: 700;
                }
            }
            .cart-quantity {
                margin-right: 6px;
                min-width: 80px;
                max-width: initial;
            }
            #cart-section-2 {
                padding-bottom: 50px;
                min-height: 550px;

                .side-right-cart {
                    @media screen and (max-width: 480px) {
                    width: 100%;
                    }
                }
              
            }

            button.btn.pay-btn.app-color {
                background: $darkblue !important;
                opacity: 1 !important;
                color: #ffffff;
                outline: 0 !important;
                border: none !important;
                border-radius: 30px;
                width: 136px !important;
                margin: 0 auto;
                padding: 4px !important;
                display: block;
                font-size: 19px !important;
                cursor: pointer;
                   &:hover {
                    background: $blue !important;
                    opacity: 1 !important;
                    border-color: transparent;
                }
            }

            button.btn.pay-btn.app-color:disabled {
                background: $lightgrey !important;
              }

            .clear-cart {
                margin: 0 auto 20px;
                &:hover {
                    background: transparent;
                }

                i {
                    font-size: 33px;
                }
                &:hover i {
                    color: $red !important;
                }
            }
            .cart-product-details-child {
                font-size: 20px;
                small {
                    margin-right: 10px;
                }
                i.la.la-envelope,
                small {
                    color: $darkblue;
                    font-weight: 600;
                }

            
                i.la.la-close { 
                    color: $lightred;
                }

              
            }
        }

       .empty-cart {
            font-size: 30px;
            font-weight: 600;
            color: $orange;
            i {
                color: $orange;
                font-size: 36px;
                line-height: 0;
                display: inline-block;
                vertical-align: middle;
            }
        }
    } // sales-recieve-block 

    .app-online-offline-status {
        ol.breadcrumb.bg-transparent.m-0.pl-0 {
            right: 62px;
            @media (max-width: 991px){
                right: 47px;
                position: fixed !important;
                box-shadow: none;
                background: transparent !important;
          }
         .online-label,
         .online-label i {
            @media (max-width: 991px) {
                font-size: 14px;
            }
          }
        }
      }
      
      div#layoutTop {
        height: 100%;
        box-shadow: 0 1px 15px 1px rgba(60, 55, 68, 0.15);
        background: #fff;
        @media only screen and (max-width: 667px) {
           display: block !important;
        }
        .main-layout-card {
            box-shadow: none;
            .main-layout-wrapper {
                .all-products {
                    max-height: 100vh;

                    @media screen and (max-width: 991px) {
                        max-height: 64vh !important;
                     }

                     @media screen and (max-width: 767px) {
                        max-height: 61vh;
                     }
                }
            }
        }

        #cart-section-1 {
            padding: 24px;
            background: #4cade61c;
            .wrap-user-contact-info {
                display: flex;
                justify-content: end;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        #cart-section-2 {
            padding-top: 16px;
            .cart-product-row {
                    @media screen and (max-width: 480px) {
                    width: 226px;
                    margin-bottom: 10px;
                }
             }

             .cart-item-container {
                border-bottom: none;
             }
        }

        div#cart-section-3 {
            @media screen and (max-width: 992px) {
                position: relative !important;
            }
          
        }
    }
    .side-right-cart {
        margin-right: 3px;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        img.app-logo {
            @media screen and (max-width: 767px) {
                width: 119px;
            }
        }
    }

    .no-data span {
        font-size: 20px;
        font-weight: 700;
    }

    .row.all-products.mr-0.product-cells-wrap{

        @media screen and (max-width: 991px) {
            max-height: auto !important;
         }

         @media screen and (max-width: 767px) {
            max-height: auto !important;
         }
    }


    #cart-payment-modal {
        a.position-absolute.variant-modal-close-btn.p-2.close {
            font-size: 15px;
            color: #000;
            opacity: 1;
            background: #ddd;
        }
    
        .printReceiptButton {
            width: 183px;
            border-radius: 33px;
            margin: 0 auto 20px;
            background: #ddd;
            i.la.la-print.pr-3 {
                font-size: 35px;
                line-height: 0;
                display: inline-block;
                vertical-align: middle;
                padding-right: 4px !important;
            }
        }
    }

    b, strong {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    body {
        font-family: 'Raleway', sans-serif;
    }
    select#ncf_id {
        width: 92%;
    }
    .wrap-updatd-total {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        .js-payment-title {
            max-width: 100%;
        }

        .text-right.payment-amount {
            margin-left: 20px;
        }
    }

    .wrap-payment-updated-total {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        label {
            margin-right: 10px;
        }
                select#exchange_currency_id {
                    width: 153px;
                    margin-right: 10px;
                }
            input[type="number"] {
                display: inline-block;
                width: 200px;
                height: calc(1.6em + 0.75rem + 2px);
                padding: 0.375rem 1.75rem 0.375rem 0.75rem;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.6;
                color: #495057;
                vertical-align: middle;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            .wrp-input {
                span,
                input[type="number"] {
                    display: block;
                }

                span {
                    color: #3490dc !important;
                    padding-left: 15px;
                }
            }
       }
       div#cart-payment-modal {
        padding: 0 !important;
    }

    #cart-payment-modal {
        #js-payment {
            .form-group {
                label {
                    width: 77px;
                }

                label + .p-0 {
                    width: calc(100% - 95px) !important;
                    select, input {
                        width: 100% !important;
                    }
                }
            }
        }
    }
 

    #js-payment-action {
        .payment-group {
            display: flex;
            align-items: center;
        }
    }

    #cart-payment-modal {
        #js-payment {
            div#js-payment-description {
                max-width: 443px !important;
            }
        } 
    }
    #js-payment-title {
        label {
                    width: 68px;
                }
    }