/* chartsOfAccountsContent */
.chartsOfAccountsContent .row-header td.cell {
    background: #0e68b1;
    text-align: left;
    padding: 8px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.chartsOfAccountsContent em.wv-text--emphasized,
.chartsOfAccountsContent td,
.chartsOfAccountsContent td span {
    font-size: 15px;
    color: #202020;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.chartsOfAccountsContent tbody+tbody {
    border-top: none;
}

.list-table-custom.products-table {
    overflow: hidden;
}

.chartsOfAccountsContent .tab-pane {
    overflow: auto;
}

.chartOfAccountModal-modal label {
    display: block;
    margin-top: 15px;
}

.chartOfAccountModal-modal span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.invoice-container.charts-block .tabs-custom {
    width: 100%;
}
.chartsOfAccountsContent-tabs {
    max-width: 1200px;
}

.list-table-custom.products-table .action {
    text-align: right;
}

select.form-control.dasboard-filter-block.form-control,
.pass-month-select {
    width: 260px;
}
.dasboard-select-wrap {
    display: flex;
}

select.form-control.dasboard-filter-block.form-control {
    margin-right: 11px;
}

table.dataTable thead th,
table.dataTable td {
    text-align: center;
}

#accounting tbody tr td,
#accounting thead th {
text-align: left;
}

#accounting td {
border: 1px solid rgba(128,155,182,0.3) !important;
color: #202020;
font-weight: 500;
}

#accounting .list-table-custom {
    max-width: 100%;
    overflow: hidden;
    padding: 0 10px 19px;
}

.accounting-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.accounting-notification {
    background-color: #eefcff;
    border: 1px solid #b3e8f3;
    border-radius: 4px;
    padding: 8px;
    color: #28667b;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    white-space: break-spaces;
}

.to-print {
    height: 38px;
    line-height: 36px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    background: #359cdf;
    border: 1px solid #359cdf;
}

.to-print:hover {
    background: transparent;
    color: #359cdf;
    border: 1px solid #359cdf;
}

.to-print i.fa.fa-print {
    margin-right: 8px;
}

#accounting-table th {
    background: #0e68b1 !important;
    color: #fff !important;
}

#accounting-table thead th {
    border-bottom: none !important;
}

#accounting-table thead th {
    border-bottom: none !important;
    /*border-right: 1px solid rgba(128,155,182,0.3) !important;*/
    font-weight: 700 !important;
}
ul.chartsOfAccounts {   
    justify-content: start;
    flex-wrap: nowrap;
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: none;
    background: #fff;
    padding: 10px 10px 20px 10px;
    margin-bottom: 0;
}
ul.chartsOfAccounts  li {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
ul.chartsOfAccounts  li:first-child,
ul.chartsOfAccounts  li:first-child a {
    padding-left: 0
}
ul.chartsOfAccounts li.nav-item a {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;  
    margin-right: -5px    
}
ul.chartsOfAccounts li.nav-item a i {
    font-size: 13px;
    padding-right: 5px;
    color: #0e68b1;
}
.main-head-navigator {
    position: relative;
}
button.btn-custom.add-primary-head-btn {
    width: 37px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0px;
}
.chartsOfAccountsContent tr.row-header a i {
    color: #fff;
    padding-left: 5px;
    font-size: 13px;
}
.chartsOfAccountsContent .cell.cell--actions a i {
    color: #0e68b1;
    font-size: 13px;
    padding-left: 5px;
}
.chartsOfAccountsContent table td table tr:first-child td {
    border-top: none;
}
.chartsOfAccountsContent table td table {
    margin-top: -15px;
}
tr.tr-row.level-2 td:first-child {
    padding-left: 30px;
}
tr.tr-row.level-2 td:first-child i {
    font-size: 13px;
    color:#0e68b1;
}

.carrot-icon {
    color:#0e68b1;
    }
    .tabs-custom.chartsOfAccountsContent-tabs {
    max-width: 100%;
}

.nav-tabs .nav-link.active + a,
.nav-tabs .nav-link.active + a + a,
.nav-tabs .nav-link.active + a + a + a,
.nav-tabs .nav-link.active + a + a + a {
    border-bottom: 2px solid #0e68b1 !important;
}
.chartOfAccountModal-modal label span {
    color: red;
}
#account-head-control-container label {
    display: inline-block;
    vertical-align: middle;
}
.radio-box-conatiner {
       display: inline-block;
    margin-left: 10px;
    width: calc(100% - 70px);
    vertical-align: top;
    padding-top: 15px;
}
.radio-box-conatiner label {
    padding-right: 15px;
}
@media print {
    #accounting-table td {
        border: 1px solid rgba(128,155,182,0.3) !important;
    }
    #accounting-table tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05) !important;
    }
    #accounting-table thead th {
        border-bottom: none !important;
        border-right: 1px solid rgba(128,155,182,0.3) !important;
    }

    #accounting td {
        border: 1px solid rgba(128,155,182,0.3) !important;
        color: #202020;
        font-weight: 500;
    }
    #accounting-table thead th:last-child {
        border-right: none !important;
    }

}

.modal-body.head-detail-container label {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: top;
    margin-top: 0px;
     font-weight: bold;
}
.modal-body.head-detail-container p {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: top;
}

#add-secondary-accounting-head-form .modal-body {
    overflow: hidden;
    max-height: 563px;
    overflow-y: auto;
}

.account-head-control-container.custom-subaccount {
    margin-top: 20px;
    margin-left: 2px;
}

.account-head-control-container.custom-subaccount .checkbox {
    margin-bottom: 13px;
}

.checkbox-disabled input[type="checkbox"]+label{
    color: #c0b6b6;
}
.checkbox-disabled input:disabled {
    background-color: #bbbfc278;
}
.checkbox-disabled input[type="checkbox"]+label::before {
    border-color: #e9eef2 !important;
}

/* Fixed assets style */
.cust-register-income {
    display: flex;
    justify-content: flex-start;
}

.cust-register-income h4 {
    margin-right: 40px;
}

.cust-register-income input[type="radio"]+label {
    margin-right: 10px;
}

#cust-show-reg-income .col-sm-12,
#cust-show-reg-income {
    padding-left: 0;
    padding-right: 0;
}

#cust-show-reg-income {
    margin-right: 6px;
    margin-left: 6px;
}
#cust-show-reg-income .cust-inside-row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
}

#cust-show-reg-income .row.cust-show-reg-income-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 18px;
}

#cust-show-reg-income .list-table-custom.cust-show-reg-income-table {
    width: 100%;
}

#cust-show-reg-income #unit_produced_info .wrap-checkbox-block {
    margin-top: 12px;
}

#cust-show-reg-income .list-table-custom.cust-show-reg-income-table th,
#cust-show-reg-income .list-table-custom.cust-show-reg-income-table td {
    padding: 10px;
}

#cust-show-reg-income .list-table-custom.cust-show-reg-income-table h4 {
    margin-bottom: 20px;
}

#cust-show-reg-income div#per_year_prod_section {
    margin-top: 20px;
}

.wrap-checkbox-block.cust-wrap-radio {
    display: flex;
    align-items: center;
}

.wrap-checkbox-block.cust-wrap-radio > label {
    padding-top: 0;
    margin-right: 40px !important;
}

.wrap-checkbox-block label {
    margin-right: 11px !important;
}

@media (min-width:320px) and (max-width:767px) {
    .cust-register-income {
        flex-direction: column;
    }
    .cust-register-income h4 {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .wrap-checkbox-block.cust-wrap-radio {
        align-items: flex-start;
        flex-direction: column;
    }
}