.nlevel-list-group a,
.nlevel-list-group .wrap-inside-list-content,
.list-sub-heading-row  {
    display: flex;
    justify-content: space-between;
}

.list-sub-footer-row {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    font-size: 18px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    background: #fff;
    margin-top: 0;
    border-top: 1px solid #ddd;
}
span.list-heading {
    width: Calc(100% - 200px);
}

.list-sub-heading-row {
    padding: 6px 20px;
    background: #359cdf;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.nlevel-list-group a {
    text-decoration: none;
}

.nlevel-list-group .wrap-inside-list-content {
    padding: 7px 0 7px 10px;
}

.nlevel-list-group a .list-amount,
.nlevel-list-group .wrap-inside-list-content .list-amount {
    min-width: 161px;
}

span.total {
    min-width: 151px !important;
}

.nlevel-list-group  .list-heading,
.nlevel-list-group  .list-amount{
    font-size: 14px;
    color: #303030;
    font-weight: 600;
    line-height: 21px;
}

.nlevel-list-group  a {
    position: relative;
    padding-left: 22px;
    font-size: 17px;
}

.nlevel-list-group .card-header > a:after {
    content: "\f0fe";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 20px;
    top: -3px;
    color: #0e68b1;
}
.nlevel-list-group .card-header > a[aria-expanded="true"]:after {
    content: "\f146"; 
}

.nlevel-list-group .wrap-level-1 {
    padding-left: 30px;
    background: transparent;
}

.nlevel-list-group .wrap-level-2 {
    padding-left: 30px;
    background: transparent;
}

.nlevel-list-group .wrap-level-3 {
    padding-left: 30px;
}

.nlevel-list-group .wrap-level-4 {
    padding-left: 30px;
}

.nlevel-list-group .wrap-level-5 {
    padding-left: 30px;
}

.nlevel-list-group .wrap-level-6 {
    padding-left: 30px;
}

.nlevel-list-group .card,
.nlevel-list-group .card-header {
    border: none;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.list-table-custom.accounting-journals-list-table.products-table li {
    margin-bottom: 11px;
    font-size: 18px;
    margin: 0;
}

.row.accounting-report-block  {
    margin-top: 30px;
}

.balance-list-block .row.accounting-report-block{
    margin-left: 0;
    margin-right: 0;
}
.accounting-report-block  h3 {
    color: #ffffff;
    font-weight: 600;
    background: #0e68b1;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    margin: 0;
}

.nlevel-list-group {
    width: 97%;
    margin: 0 auto;
}

.accounting-report-block .col-lg-6  {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.balance-list-block .accounting-report-block .col-lg-6  {
    padding-left: 0;
    padding-right: 0;
}

.wrap-list-cells {
    background: #fff;
}

.balance-list-block .accounting-report-block > .row {
    margin-right: 5px;
    margin-left: 5px;
}

.wrap-list-head {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.wrap-list-cell {
    width: 203px !important;
}

.wrap-list-cell,
.wrap-list-head input#invoice_start_date ,
.wrap-list-head strong {
    margin-right: 20px;
}
.list-table-custom.accounting-journals-list-table.products-table li {
    list-style-type: disc;
    padding-left: 0;
    list-style-position: inside;
    margin-bottom: 14px;
    font-weight: 600;
}

.list-table-custom.accounting-journals-list-table.products-table li  a {
    color: #0e68b1;
    font-size: 22px;
    line-height: 32px;
    text-decoration: none;
}

.list-table-custom.accounting-journals-list-table.products-table li:hover a {
    color: #359cdf;
}

.list-table-custom.accounting-journals-list-table.products-table li::marker {
    color: #0e68b1;
}