<template>
	<span>
		<!-- select and search customer section -->
		<div id="cart-section-1" class="col-md-12 modal-layout-header">
			<div v-if="customerNotAdded" class="sales-search">
				<div class="row">
					<div class="col-12">
						<div class="input-group custom-search-block">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-user"></i></span>
							</div>
							<input type="text"
							class="form-control pr-4 rounded-right"
							v-model="customerSearchValue"
							:placeholder="trans('lang.labels.search_customers')"
							aria-label="Search"
							aria-describedby="search"
							@input="searchCustomerInput"
							@keydown.enter="selectCustomer(customers[highlightIndex])"
							@keydown.down="down"
							@keydown.up="up">
							<div v-if="customerSearchValue!=''">
								<i class="la la-close position-absolute p-1 customer-search-cancel"
									@click.prevent="customerSearchValue=''"></i>
							</div>
							<!-- Customer search result dropdown structure starts-->
							<div class="dropdown-menu dropdown-menu-right w-100"
								:class="{'show':customerSearchValue}">
								<pre-loader v-if="!hideCustomerSearchPreLoader"
									class="small-loader-container"></pre-loader>
								<div class="px-3 py-1 text-center"
									v-else-if="hideCustomerSearchPreLoader && customers.length === 0">
									{{trans('lang.messages.no_result_found')}}
								</div>
								<div class="customers-container" v-else-if="customers.length !== 0">
									<span v-for="(customer,index) in customers">
										<a href="#"
											class="dropdown-item"
											:class="{ active: index === highlightIndex }"
											@click.prevent="selectCustomer(customer)">
											<h6 class="m-0">
												{{ customer.name}}
												<br>
												<small v-show="customer.email != null"><i class="la la-envelope"/> {{customer.email}}</small>
												<small v-show="customer.phone != null"><i
													class="las la-phone"/> {{customer.phone}}</small>
											</h6>
										</a>
										<div class="dropdown-divider m-0"></div>
									</span>
								</div>
							</div>
							<!-- Customer search result dropdown structure ends-->
						</div>
					</div>
					<!--Customer add button-->
				</div>
			</div>
			<div v-if="!customerNotAdded" v-for=" (customer,index) in selectedCustomer">
				<h6 class="m-0 cart-product-details-parent">
					<div class="cart-product-details-child">
						{{ customer.name }}
						<div class="wrap-user-contact-info">
							<small v-show="customer.email != null"> <i
								class="la la-envelope"></i> {{customer.email}}</small>
							<small v-show="customer.phone != null"> <i class="las la-phone"></i> {{customer.phone}}</small>
						</div>
					</div>
					<a href="#" class="cart-product-details-child text-right"
						@click.prevent="removeSelectedCustomer(index)">
					<i class="la la-close"></i>
					</a>
				</h6>
			</div>
		</div>
		<!-- Show the added items for a cart -->
		<div id="cart-section-2" class="cart-items-wrapper col-md-12"
			:class="{'h-100 d-flex align-items-center justify-content-center' : cart.length == 0}">
			<span class="empty-cart" v-if="cart.length==0">
			{{trans('lang.labels.empty_cart')}}
			<i class="las la-frown"></i>
			</span>
			<div v-else class="cart-item-container py-1" v-for="(cartItem,index) in cart">
				<div class="form-row mx-0 px-1 cart-item">
					<!-- Show product title -->
					<div class="cart-item-btn">
						<div class="row mx-0 my-auto">
		   				  <div class="cart-product-row">
								<div class="row mx-0 cart-item-title"
									:class="{cartProduct: cartItem.productID == activeProductId}">
									<div class="col-12 pl-1 p-0 my-auto mx-0">
										{{ cartItem.productTitle }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Show plus minus buttons with quantity -->
					<div class="side-right-cart">
						<div class="d-flex justify-content-between cart-quantity">
							<div class="pl-0 mx-0">
								<a href="#"
									@click.prevent="cartItemButtonAction(cartItem.productID,'-')">
								<i class="la la-minus-circle la-2x cart-icon-color"></i>
								</a>
							</div>
							<div class="align-self-center">
								{{ decimalFormat(cartItem.quantity) }}
							</div>
							<div class="">
								<a href="#"
									:class="{disabled:cartItem.orderType ==='discount'}"
									@click.prevent="cartItemButtonAction(cartItem.productID,'+')">
								<i class="la la-plus-circle la-2x cart-icon-color"></i>
								</a>
							</div>
						</div>


						<div class="d-flex cart-calculatedPrice">
						<div class="align-self-center ml-auto">
							<span>{{ numberFormat(cartItem.calculatedPrice) }}</span>
						</div>
						<div class="align-self-center ml-2">
							<a href="#" class="red-text"
								@click.prevent="cartItemButtonAction(cartItem.productID,'delete')"><i
								class="la la-trash del-icon-color"></i></a>
						</div>
					</div>
					</div>
					<!-- Calculated price section for each product with remove btn -->
					
				</div>
			</div>
		</div>
		<div id="cart-section-3" class="position-absolute fixed-bottom product-card-font col-md-12">
			<div class="row mx-0 px-3 py-2 font-weight-bold">
				<div class="col-6 p-0">
					{{trans('lang.labels.sub_total')}}
				</div>
				<div class="col-6 p-0 text-right">
					{{ numberFormat(subTotal) }}
				</div>
			</div>
			<div class="row mx-0 px-3 py-2 font-weight-bold" v-if="cart.length != 0">
				<div class="col-6 p-0">
					{{trans('lang.labels.tax')}}
				</div>
				<div class="col-6 p-0 text-right">
					{{ numberFormat(taxTotal) }}
				</div>
			</div>
			<div class="row mx-0 px-3 py-2 font-weight-bold" v-if="cart.length != 0" v-popover:foo.right>
				<div class="col-6 p-0">
					{{trans('lang.labels.discount')}}
					<!-- <i class="fa fa-pencil-square-o"></i> -->
					<popover name="foo">
                        <payment-input :inputValue="discount"
                                       @input="allProductDiscount"
                                       :max="99"
                                       >
                        </payment-input>
                    </popover>
				</div>
				<div class="col-6 p-0 text-right">
					<span v-if="discount" >
                        <i class="la la-edit myicon1"></i>{{ decimalFormat(discount) +'%'}}
                    </span>
                    <!--data-toggle="popover"-->
                    <span v-else>
                        <i class="la la-edit myicon1"></i>{{ '0%' }}
                    </span>
				</div>
			</div>
			<!-- Total amount section with tax exclude and include -->
			<div class="row mx-0 px-3 py-2">
				<div class="col-6 p-0">
					<span class="font-weight-bold">
					{{trans('lang.labels.total')}}
					</span>
				</div>
				<div class="col-3 p-0 text-center">
					<div class="btn-group dropright" role="group">
						<!-- This div for middle space -->
					</div>
				</div>
				<div class="col-3 p-0 text-right">
					<span class="col-6 p-0 font-weight-bold text-right">
					{{ numberFormat(grandTotal) }}
					</span>
				</div>
			</div>
			<div class="p-3 pt-5">
				<button class="btn pay-btn app-color"
					data-toggle="modal"
					data-target="#cart-payment-modal"
					href="#"
					@click.prevent="cartSave()"
					:disabled="enableDisablePay() || disabledPay() || (!isConnected && offline == 0)"
					>
				{{trans('lang.labels.pay')}}
				</button>
			</div>
			<div class="row mx-0">
				<a href="#"
					data-toggle="modal"
					data-target="#clear-cart-modal"
					class="col-12 p-0 text-center clear-cart"
					:class="{'disabled':cart.length==0}"
					@click.prevent="">
				<i class="la la-times-circle la-2x p-2 text-danger"></i>
				</a>
			</div>
		</div>
	</span>
</template>
<script>
	import axiosGetPost from '../../../helper/axiosGetPostCommon';
	import {
	    subTotalAmount,
	    cartItemsToCookie,
	    deleteCartItemsFromCookieOrDB
	} from '../helper/salesComponentCommonMethod.js';
	
	export default {
	    extends: axiosGetPost,
	    props: [
	        'supplier',
	        'is_selected_branch',
	        'selected_branch_id',
	        'add_customer',
	        'newAddedCustomer',
	        'sales_or_receiving_type',
	        'sales_return_status',
	        'receive_return_status',
	        'order_type',
	        'order_id',
	        'order_id_internal_transfer',
	        'customer_group',
	        'offline_customers',
	        'offline_all_Branch',
	        'current_branch',
	        'user',
	        'cart_arr',
	        'active_variant_id',
	        'active_product_id',
	        'manage_price',
	        'selectedCashRegisterID',
	        'sold_to',
	        'sold_by',
	        'final_cart',
	        'invoice_logo',
	        'last_invoice_number',
	        'invoicePrefix',
	        'invoiceSuffix',
	        'invoiceTemplate',
	
	        'bankOrCardAmount',
	        'bankOrCardOptions',
	        'calculateBank',
	        'auto_invoice',
	        'payment_types',
	        'selectedBranchID',
	        'is_shipment_enable',
	
	        'sub_total',
	        'tax_total',
	        'grand_total',
	        'discount_total',
	
	        'count_hold_order',
	        'order_hold_items',
	        'internal_hold_orders',
	        'internal_transfer_hold_orders',
	        'customer_hold_orders',
	        'customer_not_added',
	        'selected_customer',
	        'selected_search_branch',
	        'branch_search_value',
	
	        'restaurant_order_type',
	        'restaurant_table_id',
	        'is_cash_register_branch',
	        'is_cash_register_used',
	        'is_hold_order_done',
	        'is_place_order_active',
	        'all_restaurant_tables',
	        'profit',
	        'is_connected',
	        'new_over_all_discount',
	        'over_all_discount',
	        'newDiscount_amount',
	        'discount_amount',
	        'tax_information',
	        'add_customer_short_key',
	        'payment_short_key',
	        'hold_card_item',
	        'cancel_card_item',
	        'shipping_data',
	        'return_cart_length',
	    ],
	    data() {
	        return {
	            hideCustomerSearchPreLoader: true,
	            salesOrReceivingType: '',
	            salesOrReturnType: null,
	            receiveOrReturnType: null,
	            isPaymentModalActive: false,
	            customerNotAdded: true,
	            selectedCustomer: [],
	            customerSearchValue: '',
	            customers: [],
	            addCustomer: null,
	            isCustomerModalActive: false,
	            isNewCustomerAdded: false,
	            offlineCustomers: [],
	            newCustomerId: '',
	            branchSearchValue: '',
	            isSelectedBranch: null,
	            branches: [],
	            selectedSearchBranch: [],
	            offlineAllBranch: [],
	            currentBranch: [],
	            selectedBranchId: null,
	            open: null,
	            highlightIndex: 0,
	            newOverAllDiscount: 0,
	            showOverAllDisc: false,
	            showDiscount: false,
	            discountOnEntire: 'discountOnEntire',
	            discountOnAllItem: 'discountOnAllItem',
	            //cart variables
	            cart: [],
	            finalCart: [],
	            newCart: [],
	            total: 0,
	            grandTotal: 0,
	            subTotal: 0,
	            discountTotal: 0,
	            productTotalWithoutDiscount: 0,
	
	            orderID: null,
	            orderIdInternalTransfer: null,
	            invoiceId: null,
	            lastInvoiceNumber: 0,
	            //product
	            activeProductId: null,
	            activeVariantId: null,
	
	            //local storage
	            totalStorage: 4500,
	            remainingStorage: null,
	            minimumSizeOfLocalStorage: 500,
	
	            orderHoldItems: [],
	            internalHoldOrders: [],
	            internalTransferHoldOrders: [],
	            customerHoldOrders: [],
	            countHoldOrder: 0,
	            hideOrderHoldItemsPreLoader: false,
	
	            payment: [],
	            holdCarditem: [],
	            cancelCarditem: [],
	            donePaymentItem: [],
	
	            restaurantOrderType: '',
	            isCashRegisterBranch: '',
	            restaurantTableId: '',
	            isHoldOrderDone: '',
	            isTaxExcluded: true,
	            isPlaceOrderActive: null,
	            allRestaurantTables: [],
	            isConnected: null,
	            discount: 0,
	            newDiscount: 0,
	            tax: 0,
	            cartLength: 0,
	            discountEnable: false,
	            returnDiscount: true,
	            overAllDiscount: 0,
	            isEmptyObj: (object) => {
	                if (_.isEmpty(object)) {
	                    return true;
	                }
	            },
	            // Shortcuts Variable
	            addCustomerShortKey: '',
	            paymentShortKey: '',
	            holdCardItem: '',
	            cancelCardItem: '',
	            isDisableCartPlusBtn: false,
	            taxEditMoal: false,
	        }
	    },
	    watch: {
	        //on the fly discount calculation
	        over_all_discount: function (value) {
	            if (value != null && value !== '') {
	                this.showOverAllDisc = true;
	                this.showDiscount = true;
	            } else {
	                this.showOverAllDisc = false;
	                this.showDiscount = false;
	            }
	            this.overAllDiscount = value;
	
	        },
	        sales_or_receiving_type: function (value) {
	            this.salesOrReceivingType = value;
	        },
	        is_selected_branch: function (value) {
	            this.isSelectedBranch = value;
	        },
	        selected_branch_id: function (value) {
	            this.selectedBranchID = value;
	        },
	        add_customer: function (value) {
	            this.addCustomer = value;
	        },
	        cart_arr: function (value) {
	            this.cart = value;
	            this.cartLength = value.length;
	
	            this.cartMinHeightSet();
	        },
	        sales_return_status: function (value) {
	            this.salesOrReturnType = value;
	        },
	        receive_return_status: function (value) {
	            this.receiveOrReturnType = value;
	        },
	        active_variant_id: function (value) {
	            this.activeVariantId = value;
	        },
	        active_product_id: function (value) {
	            this.activeProductId = value;
	        },
	        final_cart: function (value) {
	            this.finalCart = value;
	        },
	        sub_total: function (value) {
	            this.subTotal = value;
	        },
	        discount_total: function (value) {
	            this.discountTotal = value;
	        },
	        tax_total: function (value) {
	            this.taxTotal = value;
	        },
	        grand_total: function (value) {
	            this.grandTotal = value;
	        },
	        newAddedCustomer: function (value) {
	            this.getCustomerData(value);
	        },
	        count_hold_order: function (value) {
	            this.countHoldOrder = value;
	        },
	        order_hold_items: function (value) {
	            this.orderHoldItems = value;
	        },
	        internal_hold_orders: function (value) {
	            this.internalHoldOrders = value;
	        },
	        internal_transfer_hold_orders: function (value) {
	            this.internalTransferHoldOrders = value;
	        },
	        customer_hold_orders: function (value) {
	            this.customerHoldOrders = value;
	        },
	        customer_not_added: function (value) {
	            this.customerNotAdded = value;
	        },
	        selected_customer: function (value) {
	            this.selectedCustomer = value;
	        },
	        selected_search_branch: function (value) {
	            this.selectedSearchBranch = value;
	        },
	        branch_search_value: function (value) {
	
	        },
	        restaurant_order_type: function (value) {
	            this.restaurantOrderType = value;
	        },
	        current_branch: function (value) {
	            this.currentBranch = value;
	        },
	        is_cash_register_branch: function (value) {
	            this.isCashRegisterBranch = value;
	        },
	        restaurant_table_id: function (value) {
	            this.restaurantTableId = value;
	        },
	        last_invoice_number: function (value) {
	            this.lastInvoiceNumber = value;
	        },
	        is_hold_order_done: function (value) {
	            this.isHoldOrderDone = value;
	        },
	        is_place_order_active: function (value) {
	            this.isPlaceOrderActive = value;
	        },
	        offline_customers: function (value) {
	            this.offlineCustomers = value;
	        },
	        offline_all_Branch: function (value) {
	            this.offlineAllBranch = value;
	        },
	        order_id: function (value) {
	            this.orderID = value;
	        },
	        order_id_internal_transfer: function (value) {
	            this.orderIdInternalTransfer = value;
	        },
	        all_restaurant_tables: function (value) {
	            this.allRestaurantTables = value;
	        },
	        is_connected: function (value) {
	            this.isConnected = value;
	        },
	        new_over_all_discount: function (value) {
	            this.newOverAllDiscount = value;
	        },
	        discount_amount: function (value) {
	            this.discount = value;
	        },
	        tax_information: function (value) {
	            this.tax = value;
	        },
	        newDiscount_amount: function (value) {
	            this.newDiscount = value;
	        },
	        add_customer_short_key: function (value) {
	            this.addCustomerShortKey = value;
	        },
	        payment_short_key: function (value) {
	            this.paymentShortKey = value;
	        },
	        hold_card_item: function (value) {
	            this.holdCardItem = value;
	        },
	        cancel_card_item: function (value) {
	            this.cancelCardItem = value;
	        },
	    },
	    created() {
	    },
	    mounted() {
	        let instance = this;
	        this.isSelectedBranch = this.is_selected_branch;
	        this.addCustomer = this.add_customer;
	        this.salesOrReceivingType = this.sales_or_receiving_type;
	        this.cart = this.cart_arr;
	        this.salesOrReturnType = this.sales_return_status;
	        this.receiveOrReturnType = this.receive_return_status;
	        this.activeVariantId = this.active_variant_id;
	        this.activeProductId = this.active_product_id;
	        this.finalCart = this.final_cart;
	        this.grandTotal = this.grand_total;
	        this.subTotal = this.sub_total;
	        this.discountTotal = this.discount_total;
	        this.taxTotal = this.tax_total;
	        this.selectedBranchID = this.selected_branch_id;
	        this.countHoldOrder = this.count_hold_order;
	        this.orderHoldItems = this.order_hold_items;
	        this.internalHoldOrders = this.internal_hold_orders;
	        this.internalTransferHoldOrders = this.internal_transfer_hold_orders;
	        this.customerHoldOrders = this.customer_hold_orders;
	        this.customerNotAdded = this.customer_not_added;
	        this.selectedCustomer = this.selected_customer;
	        this.selectedSearchBranch = this.selected_search_branch;
	        this.restaurantOrderType = this.restaurant_order_type;
	        this.currentBranch = this.current_branch;
	        this.isCashRegisterBranch = this.is_cash_register_branch;
	        this.restaurantTableId = this.restaurant_table_id;
	        this.customerSearchValue = '';
	        this.branchSearchValue = '';
	        this.lastInvoiceNumber = this.last_invoice_number;
	        this.isHoldOrderDone = this.is_hold_order_done;
	        this.isPlaceOrderActive = this.is_place_order_active;
	        this.offlineCustomers = this.offline_customers;
	        this.offlineAllBranch = this.offline_all_Branch;
	        this.orderID = this.order_id;
	        this.orderIdInternalTransfer = this.order_id_internal_transfer;
	        this.allRestaurantTables = this.all_restaurant_tables;
	        this.isConnected = this.is_connected;
	        this.newOverAllDiscount = this.new_over_all_discount;
	        this.discount = this.discount_amount;
	        this.tax = this.tax_information;
	        this.newDiscount = this.newDiscount_amount;
	        this.overAllDiscount = this.over_all_discount;
	        this.addCustomerShortKey = this.add_customer_short_key;
	        this.paymentShortKey = this.payment_short_key;
	        this.holdCardItem = this.hold_card_item;
	        this.cancelCardItem = this.cancel_card_item;
	        // Set cart items wrapper height dynamically
	        this.$nextTick(function () {
	            // instance.cartMinHeightSet();
	        });
	        $(window).resize(function () {
	            setTimeout(function () {
	                // instance.cartMinHeightSet();
	            });
	        });
	
	        this.modalCloseAction(this.modalID);
	        // cart modal for mobile
	        $('#cart-modal-for-mobile-view').on('shown.bs.modal', function (e) {
	            // instance.cartMinHeightSet();
	        });
	    },
	    methods: {
	        checkDiscountType() {
	            if (this.order_type == 'sales') {
	                if (this.sales_or_receiving_type == 'internal-transfer') {
	                    return false;
	                }
	                return true;
	            }
	            return false;
	
	        },
	        checkDiscount() {
	            if (this.manage_price == 1) {
	                if (this.sales_or_receiving_type == 'internal-transfer') {
	                    return false;
	                }
	                return true;
	            }
	        },
	        cartMinHeightSet() {
	            let section1 = $("#cart-section-1").height();
	            let section2 = $("#cart-section-3").position();
	            $("#cart-section-2").css('max-height', (section2.top - section1) + 'px');
	        },
	        /* customer*/
	        newCustomerAddModalOpen() {
	            this.$emit('newCustomerAddModalOpen');
	        },
	        taxEditModalOpen() {
	            this.$emit('taxEditModal');
	        },
	        storeCustomer(event) {
	            $('#customer-add-edit-modal').modal('show')
	            this.isCustomerModalActive = true;
	        },
	        searchCustomerInput(event) {
	            let instance = this;
	            if (!this.open) {
	                this.open = true
	            }
	            this.highlightIndex = 0;
	            let sortedResults;
	
	            sortedResults = instance.offlineCustomers;
	            instance.commonCustomerSupplierSearch(sortedResults);
	
	            instance.hideCustomerSearchPreLoader = true;
	        },
	        commonCustomerSupplierSearch(sortedResults) {
	            let instance = this;
	            if (instance.customerSearchValue) {
	                instance.customers = sortedResults.filter(function (element) {
	                    let name = element.name.toLowerCase().includes(instance.customerSearchValue.toLowerCase());
	
	                    if ((element.email != null && element.email != '') || (element.phone != null && element.phone != '')) {
	                        if ((element.email != null && element.email != '') && (element.phone != null && element.phone != '')) {
	                            return (name || element.email.toLowerCase().includes(instance.customerSearchValue.toLowerCase())
	                                || element.phone.includes(instance.customerSearchValue.toLowerCase())
	                            );
	
	                        } else if ((element.email != null && element.email != '')) {
	                            return (name || element.email.toLowerCase().includes(instance.customerSearchValue.toLowerCase())
	                            );
	                        } else {
	                            return (name || element.phone.includes(instance.customerSearchValue.toLowerCase())
	                            );
	                        }
	                    } else {
	                        return (name);
	                    }
	                });
	            } else {
	                instance.customers = sortedResults;
	            }
	        },
	        selectCustomer(customer) {
	            this.selectedCustomer = [];
	            this.selectedCustomer.push(customer);
	            this.$emit('selectCustomerFromCart', this.selectedCustomer);
	
	            this.setCartItemsToCookieOrDB(1);
	            this.customerSearchValue = '';
	        },
	        getCustomerData(data) {
	            let instance = this;
	            instance.customers = this.offlineCustomers;
	            if (instance.isNewCustomerAdded) {
	                instance.selectCustomer(0);
	            }
	            instance.isNewCustomerAdded = false;
	            instance.hideCustomerSearchPreLoader = true;
	            if (data) {
	                instance.selectCustomer(data);
	                instance.newCustomerId = '';
	
	            } else {
	                let customer = instance.customers.filter(function (element) {
	                    return element.id === instance.newCustomerId;
	                });
	                instance.selectCustomer(customer[0]);
	            }
	        },
	        removeSelectedCustomer(index) {
	            this.selectedCustomer.splice(index, 1);
	            this.customerSearchValue = '';
	            this.setCartItemsToCookieOrDB(1);
	            this.$emit('removeSelectedCustomerFromCart', this.selectedCustomer);
	        },
	        // branch
	        searchBranchInput(event) {
	            let instance = this;
	            instance.hideCustomerSearchPreLoader = false;
	            if (!this.open) {
	                this.open = true
	            }
	            this.highlightIndex = 0;
	            let sortedResults;
	            sortedResults = instance.offlineAllBranch;
	            if (instance.branchSearchValue) {
	
	                instance.branches = sortedResults.filter(function (element) {
	                    return (element.name.toLowerCase().includes(instance.branchSearchValue.toLowerCase()) && element.id !== instance.currentBranch.id);
	                });
	            } else {
	                instance.branches = sortedResults;
	            }
	            instance.hideCustomerSearchPreLoader = true;
	
	        },
	        selectSearchBranch(branch) {
	            this.$emit('selectSearchBranchFromCart', branch);
	            this.branchSearchValue = '';
	        },
	        removeSelectedBranch() {
	            this.$emit('removeSelectedBranchFromCart');
	            this.branchSearchValue = '';
	        },
	
	        allProductDiscount(value, index, unformatted) {
	            this.$emit('allProductDiscountFromCart', Number(value), index, unformatted);
	        },
	
	        addOverAllDiscount(value, index, unformatted) {
	            this.$emit('addOverAllDiscountFromCart', value, index, unformatted);
	        },
	        //cart
	        cartItemButtonAction(cartProductID, action) {
	            let instance = this;
	            this.cart.forEach(function (cartItem, index, cartArray) {
	                if (cartItem.productID == cartProductID) {
	                    if (action == '+') {
	                        cartArray[index].quantity++;
	                    } else if (action == '-') {
	                        --cartArray[index].quantity;
	                    } else {
	                        cartArray.splice(index, 1);
	                    }
	                    if (cartItem.quantity == 0) {
	                        cartArray.splice(index, 1);
	                    }
	                    cartItem.calculatedPrice = cartItem.quantity * cartItem.totalPrice;
	                }
	            });
	
	            this.setCartItemsToCookieOrDB(1);
	
	        },
	        cartItemCollapse(index, variantID) {
	            let instance = this;
	            this.cart.forEach(function (cartItem, i, array) {
	                if (i === index && cartItem.variantID === variantID && cartItem.orderType !== 'discount' && !(instance.order_type === 'sales' && instance.salesOrReturnType === 'returns')) {
	                    array[i].showItemCollapse = !array[i].showItemCollapse;
	                } else {
	                    array[i].showItemCollapse = false;
	                }
	            });
	        },
	        setQuantityInCart(value, index) {
	            let instance = this;
	            value = Number(value);
	            if (this.outOfStockProduct == 1 && value > this.cart[index].availbleQuantity && this.order_type == 'sales') {
	                this.cart[index].quantity = 0;
	                this.isDisableCartPlusBtn = true;
	                let variantTitle = this.cart[index].variantTitle === 'default_variant' ? '' : `(${this.cart[index].variantTitle})`;
	                let alertMessage = this.cart[index].productTitle + ' ' + variantTitle + '' + this.trans('lang.is_out_of_stock') + this.trans('lang.available_quantity') + this.cart[index].availbleQuantity;
	                this.showWarningAlert(alertMessage);
	                setTimeout(function () {
	                    instance.cart[index].quantity = instance.cart[index].availbleQuantity;
	                });
	            } else {
	                this.cart[index].quantity = value;
	                this.isDisableCartPlusBtn = false;
	            }
	            if (this.cart[index].quantity > this.cart[index].availbleQuantity && this.order_type == 'sales') {
	                let variantTitle = this.cart[index].variantTitle === 'default_variant' ? '' : `(${this.cart[index].variantTitle})`;
	                let alertMessage = this.cart[index].productTitle + ' ' + variantTitle + '' + this.trans('lang.is_out_of_stock') + this.trans('lang.available_quantity') + this.cart[index].availbleQuantity;
	                this.showWarningAlert(alertMessage);
	            }
	            this.setCartItemsToCookieOrDB(1);
	        },
	        setPropductNewPrice(price, index, value) {
	            this.cart[index].price = price;
	            this.cart[index].unformPrice = value;
	            this.setCartItemsToCookieOrDB(1);
	        },
	        enableDisablePay() {
	            let cartData = this.cart;
	            return cartData.length == 0 || this.selectedCustomer == undefined || this.selectedCustomer.length == 0;
	        },
	        disabledPay() {
	            let instance = this;
	            let data = '',
	                currentStorage = null;
	            instance.totalStorage = 4500;
	
	            for (let key in window.localStorage) {
	                if (window.localStorage.hasOwnProperty(key)) {
	                    data += window.localStorage[key];
	                }
	            }
	            currentStorage = ((data.length * 16) / (8 * 1024)).toFixed(2);
	
	            if (this.checkBrowser() === "Chrome") {
	                window.webkitStorageInfo.queryUsageAndQuota(webkitStorageInfo.PERSISTENT, function (usage, total) {
	                    if (total != 0) instance.totalStorage = total;
	                    instance.remainingStorage = instance.totalStorage - currentStorage;
	                });
	                return instance.remainingStorage < instance.minimumSizeOfLocalStorage;
	            } else {
	                instance.remainingStorage = instance.totalStorage - currentStorage;
	                return instance.remainingStorage < instance.minimumSizeOfLocalStorage;
	            }
	
	        },
	
	        orderHold() {
	            this.cartSave('hold');
	        },
	        cartSave(status = 'done') {
	            let instance = this;
	            this.makeFinalCart(status);
	            this.isPaymentModalActive = true;
	            this.$emit('activeCartPaymentModal', this.finalCart);
	        },
	        makeFinalCart(status) {
	            let instance = this;
	            let selectCustomerForCart = [];
	
	            if (this.selectedCustomer[0]) {
	                selectCustomerForCart = this.selectedCustomer[0];
	            }
	            this.finalCart = {
	                createdBy: this.user.id,
	                cart: this.cart,
	                customer: selectCustomerForCart,
	                subTotal: this.subTotal,
	                discountTotal: this.discountTotal,
	                discount: this.discount,
	                taxTotal: this.taxTotal,
	                tax: this.tax,
	                grandTotal: this.grandTotal,
	                date: moment().format('YYYY-MM-DD'),
	                time: moment().format('YYYY-MM-DD'),
	            };
	        },
	        setCartItemsToCookieOrDB(flag = 0) {
	            this.$emit('setCartItemsToCookieOrDBFromCart', flag);
	        },
	        // have to look
	        up() {
	            if (this.open) {
	                if (this.highlightIndex > 0) {
	                    this.highlightIndex--
	                }
	            } else {
	                this.setOpen(true)
	            }
	        },
	        down() {
	            if (this.open) {
	                if (this.highlightIndex < this.customers.length - 1 || this.highlightIndex < this.branches.length - 1) {
	                    this.highlightIndex++
	                }
	            } else {
	                this.setOpen(true)
	            }
	        },
	        commonMethodForAccessingShortcut(data) {
	            if (data == 'addCustomerShortcut' && this.shortcutKeyInfo.addCustomerShortcut.status == 1 && this.shortcutStatus == 1) {
	                $('#customer-add-edit-modal').modal('show');
	                this.newCustomerAddModalOpen();
	            }
	            if (data == 'payShortcut' && this.shortcutKeyInfo.payShortcut.status == 1 && this.shortcutStatus == 1 && this.cart.length != 0) {
	                if (this.salesOrReceivingType == 'internal') {
	                    if (!this.isEmptyObj(this.selectedSearchBranch)) {
	                        $('#cart-payment-modal').modal('show');
	                        this.cartSave();
	                    }
	                } else if (this.salesOrReceivingType == 'internal-transfer') {
	                    if (!this.isEmptyObj(this.selectedSearchBranch)) {
	                        $('#cart-payment-modal').modal('show');
	                        this.cartSave();
	                    }
	                } else {
	                    $('#cart-payment-modal').modal('show');
	                    this.cartSave();
	                }
	            }
	            if (data == 'holdCard' && this.shortcutKeyInfo.holdCardShortcut.status == 1 && this.shortcutStatus == 1 && this.cart.length != 0) {
	                if (this.salesOrReceivingType == 'internal') {
	                    if (!this.isEmptyObj(this.selectedSearchBranch)) {
	                        this.orderHold();
	                    }
	                } else if (this.salesOrReceivingType == 'internal-transfer') {
	                    if (!this.isEmptyObj(this.selectedSearchBranch)) {
	                        this.orderHold();
	                    }
	                } else {
	                    this.orderHold();
	                }
	            }
	            if (data == 'cancelCarditem' && this.shortcutKeyInfo.cancelCardShortcut.status == 1 && this.shortcutStatus == 1 && this.cart.length != 0) {
	                $('#clear-cart-modal').modal('show');
	            }
	        },
	
	        //restaurant module
	        openTableModal() {
	            this.makeFinalCart('hold');
	            this.$emit('openTableModalFromCart', this.finalCart);
	        },
	        setRestaurantOrderType(type) {
	            this.$emit('setRestaurantOrderTypeFromCart', type);
	        },
	        openHoldOrderModal() {
	            this.$emit('openHoldOrderModalFromCart');
	        },
	        setTaxIncludedOrExcluded(value) {
	            this.isTaxExcluded = value;
	            this.$emit('setTaxIncludedOrExcludedFromCart', this.isTaxExcluded);
	        },
	    }
	}
</script>