<template>
    <div>
        <div class="menu-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="invoice-container">
            <h2>{{ trans('lang.labels.update')+' '+trans('lang.labels.inventory_adjustment') }}</h2>
            <form id="adjustment-form" @submit.prevent="updateAdjustments" method="POST" enctype="multipart/form-data">
                <div class="default-form credit-notes-form">
                    <div class="generate-invoice">
                        <div class="add-form row">
                            <div class="form-group col-sm-6">
                                <label for="inventory_adjustment_date">{{ trans('lang.labels.date') }} <span>*</span></label>
                                <input id="inventory_adjustment_date" name="adjustment_date" class="form-control" v-model="adjustment_data.adjustment_date" autocomplete="off" />
                                <form-error v-if="errors.adjustment_date" :errors="errors" :error="errors.adjustment_date[0]"></form-error>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="notes">{{ trans('lang.labels.observations') }}</label>
                                <textarea class="form-control" id="observations" name="observations" v-model="adjustment_data.observations" :placeholder="trans('lang.labels.observations')" ></textarea>
                                <form-error v-if="errors.observations" :errors="errors" :error="errors.observations[0]"></form-error>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="image">{{ trans('lang.labels.documents') }} ({{trans('lang.labels.pdf') }} {{ trans('lang.labels.image') }}) </label>
                                <div class="dropzone-wrap">
                                    <div class="dropzone-wrap-inner">
                                        <div class="dropzone" id="document-dropzone">
                                     </div>
                                </div>
                                </div>
                                <span class="error" role="alert" id="document-error" style="display:none"></span>
                            </div>
                        </div>
                        <div class="default-table inventory-adjustment-table">
                            <div class="list-table-custom">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{ trans('lang.labels.item') }}</th>
                                            <th>{{ trans('lang.labels.current_quantity') }}</th>
                                            <th>{{ trans('lang.labels.type_of_adjustment') }}</th>
                                            <th>{{ trans('lang.labels.quantity') }}</th>
                                            <th>{{ trans('lang.labels.final_quantity') }}</th>
                                            <th>{{ trans('lang.labels.unit_cost') }}</th>
                                            <th>{{ trans('lang.labels.adjusted_total') }}</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="inventory-adjust-inner" v-for="(adjustment_item, k) in adjustment_items" :key="k">
                                            <td>
                                                <select name="item" :class="adjustment_item.id ? 'disabled_selection_box form-control' : 'form-control'" v-model="adjustment_item.item_id" @change="fieldChange(k, adjustment_item, 'item_selector')">
                                                    <option :value="null">{{ trans('lang.labels.select_item') }}</option>
                                                    <option :disabled="isDisabled(productItem.id)" v-for="productItem in productItems" :key="productItem.id" :value="productItem.id">{{productItem.name}}</option>
                                                </select>
                                            </td>
                                            <td id="current-quantity">{{adjustment_item.current_qty}}</td>
                                            <td>
                                                <select name="inventory_adjustment_type" class="form-control" v-model="adjustment_item.adj_type" @change="fieldChange(k, adjustment_item)">
                                                    <option value="increase">{{ trans('lang.labels.increase') }}</option>
                                                    <option value="decrease">{{ trans('lang.labels.decrease') }}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" name="quantity" class="form-control" min="1" v-model="adjustment_item.qty" @change="fieldChange(k, adjustment_item)">
                                            </td>
                                            <td id="final-quantity">{{ adjustment_item.final_qty }}</td>
                                            <td>
                                                <input type="number" min="0.01" step="any" name="unit_cost" class="form-control" v-model="adjustment_item.unit_price" @change="rowTotal(k, adjustment_item)" placeholder="Unit Cost">
                                            </td>
                                            <td>
                                                {{ moneyFormat(adjustment_item.adj_total) }}
                                            </td>
                                            <td>
                                                <a v-if="k" class="delete-icon" @click.prevent="deleteRow(k)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><a href="#" class="btn-custom" @click.prevent="addNewRow"><i class="fa fa-plus" aria-hidden="true"></i> {{ trans('lang.labels.add_item') }}</a></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="inventory-value">
                                <p><b>{{ trans('lang.labels.total') }}</b>
                                    <strong>{{ moneyFormat(invoice_total, true) }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group popup-btns">
                    <a :href="cancelRoute" name="cancel" class="btn-custom cancel-btn">{{ trans('lang.labels.cancel') }}</a>
                    <button type="submit" name="save" class="btn-custom documents-submit-btn" @click.prevent="updateAdjustments" :disabled="state.isSending">{{ trans('lang.labels.update') }}</button>
                </div>
             </form>
        </div>
    </div>
</template>

<style>
.disabled_selection_box {
    pointer-events: none;
    cursor: not-allowed;
}
</style>

<script>
import { axiosGETorPOST, axiosPut } from "../../helper/axiosGetPostMethod";
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    props: {
        adjustment: {
            type: Object,
            default: {}
        },
        inventories: {
            type: String,
            default: ""
        },
        cancelRoute: {
            type: String,
            default: ""
        }
    },

    data() {
        return {
            productItems: [],
            invoice_total: 0.0,
            adjustment_items: [],
            adjustment_data: this.adjustment,
            adjustment_item_element: {
                id: 0,
                item_id: null,
                adj_type: "increase",
                unit_price: null,
                qty: 0,
                current_qty: 0,
                final_qty: 0,
                adj_total: 0.0
            },
            state: {
                isSending: false
            },
            errors: [],
        };
    },

    methods: {
        /** Disable already selected option from item selection box */
        isDisabled(itemId) {
            let valObj = this.adjustment_items.filter(item => item.item_id == itemId);
            if (valObj.length > 0) {
                return true;
            } else {
                return false;
            }
        },

        /** Get All Items Method */

        getProductItems() {
            this.productItems = JSON.parse(this.inventories);
            /*axiosGETorPOST(
                    {url: window.appConfig.appUrl + "/inventories"}, //set url
                    (success, responseData) => {
                        // callback after axios method call
                        if (success) {
                           //response after then function
                           this.productItems = responseData.data.filter(ele => ele.track_inventory);
                        } 
                    }
                );*/
        },

        /** Add new row */
        addNewRow() {
            this.adjustment_items = this.adjustment_items.concat([
                Object.assign({}, this.adjustment_item_element)
            ]);
        },

        /** Delete a row */
        deleteRow(index) {
            if (index > -1) {
                this.adjustment_items.splice(index, 1);
            }
            this.calculateTotal();
        },

        rowTotal(index, adjustment_item) {
            if (adjustment_item.unit_price && adjustment_item.qty) {
                if (adjustment_item.adj_type == "increase") {
                    this.adjustment_items[index].adj_total = (
                        parseInt(adjustment_item.qty) * parseFloat(adjustment_item.unit_price)
                    ).toFixed(2);
                } else {
                    this.adjustment_items[index].adj_total = -(
                        parseInt(adjustment_item.qty) * parseFloat(adjustment_item.unit_price)
                    ).toFixed(2);
                }
                this.calculateTotal();
            }
        },

        /** Call on change of any field from inventory adjustment row */
        fieldChange(index, adjustment_item, eleName = null) {
            if (adjustment_item.item_id) {
                let item_data = this.productItems.filter(
                    item => item.id == adjustment_item.item_id
                );
                // this.adjustment_items[index].current_qty = item_data[0].quantity;
                if (adjustment_item.id == 0) {
                    if (eleName == "item_selector") {
                        this.adjustment_items[index].unit_price = item_data[0].unit_cost;
                        this.adjustment_items[index].current_qty = item_data[0].quantity;
                    }
                }
                if (adjustment_item.adj_type && adjustment_item.qty) {
                    if (item_data[0].quantity && adjustment_item.qty) {
                        let final_quantity = 0;
                        if (adjustment_item.adj_type == "increase") {
                            this.adjustment_items[index].final_qty =
                                parseInt(adjustment_item.current_qty) + parseInt(adjustment_item.qty);
                            if (adjustment_item.unit_price) {
                                this.adjustment_items[index].adj_total = (
                                    parseInt(adjustment_item.qty) * parseFloat(adjustment_item.unit_price)
                                ).toFixed(2);
                            }
                        } else {
                            this.adjustment_items[index].final_qty =
                                parseInt(adjustment_item.current_qty) - parseInt(adjustment_item.qty);
                            if (adjustment_item.unit_price) {
                                this.adjustment_items[index].adj_total = -(
                                    parseInt(adjustment_item.qty) * parseFloat(adjustment_item.unit_price)
                                ).toFixed(2);
                            }
                        }
                        this.calculateTotal();
                    } else {
                        this.adjustment_items[index].qty = 0;
                    }
                }
            }
        },

        /** Calculate total of rows */
        calculateTotal() {
            let subtotal, total;
            subtotal = this.adjustment_items.reduce(function(sum, product) {
                let lineTotal = parseFloat(product.adj_total);
                if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);
            this.invoice_total = subtotal.toFixed(2);
        },

        readyToSubmit() {
            return $("#adjustment-form").valid(); 
        },

        /** Send inventory adjustments */
        updateAdjustments() {
            if (this.readyToSubmit()) {
                let haveValidItems = this.adjustment_items.find(function(at){
                    return at.item_id && at.qty && at.unit_price > 0;
                });
                if (!haveValidItems) {
                    toastr.error(trans('lang.messages.inventory_adjustment_without_items'));
                    return false;
                }
                
                this.state.isSending = true;
                let form = document.getElementById('adjustment-form');
                let formData = new FormData(form);
                let put_data = {
                    adjustment_items: this.adjustment_items,
                    adjustment_date: this.adjustment_data.adjustment_date,
                    observations: this.adjustment_data.observations
                };
                formData.append("_method", "put");
                formData.append('data', JSON.stringify(put_data));
                axiosGETorPOST(
                    {
                        url:
                            window.appConfig.appUrl +
                            "/inventory-adjustments/" +
                            this.adjustment_data.id,
                        postData: formData
                    }, //set url
                    (success, responseData) => {
                        // callback after axios method call
                        if (success) {
                            //response after then function
                            let redirect_url = `${window.appConfig.appUrl}/${
                                responseData.redirect_url
                            }`;

                            toastr.success(responseData.message);
                            setTimeout(function(){
                                window.location.href = redirect_url
                            }, 500);
                            
                        } else {
                            this.state.isSending = false;
                            toastr.error(responseData.error);
                        }
                    }
                );
            }
        },

        moneyFormat(money = 0.0) {
            return window.appConfig.currencySymbol + parseFloat(money).toFixed(2);
        }
    },

    mounted() {
        let pickerOptsGeneral = {
            uiLibrary: "bootstrap4",
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: 2,
            maxView: 2,
            todayHighlight: true,
            templates: {
                leftArrow: '<i class="fa fa-chevron-left"></i>',
                rightArrow: '<i class="fa fa-chevron-right"></i>'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-chevron-left",
                next: "fa fa-chevron-right",
                today: "fa fa-clock-o",
                clear: "fa fa-trash-o"
            },
            language: window.appConfig.appLocale
        };

        $("#inventory_adjustment_date")
            .datepicker(pickerOptsGeneral)
            .on("changeDate", () => {
                this.adjustment_data.adjustment_date = $(
                    "#inventory_adjustment_date"
                ).val();
            });

        this.getProductItems();

        this.adjustment_items = this.adjustment.items.map(item => {
            let product_data = this.productItems.find(
                element => element.id == item.inventory_id
            );
            let current_qty = product_data ? parseInt(product_data.quantity) : 0;
            let initial_quantity =
                item.inventory_adjustment_type == "increase"
                    ? parseInt(current_qty) - parseInt(item.quantity)
                    : parseInt(current_qty) + parseInt(item.quantity);
            return {
                id: item.id,
                item_id: item.inventory_id,
                adj_type: item.inventory_adjustment_type,
                unit_price: item.unit_cost,
                qty: parseInt(item.quantity),
                current_qty: initial_quantity,
                final_qty:
                    item.inventory_adjustment_type == "increase"
                        ? parseInt(item.quantity) + parseInt(initial_quantity)
                        : parseInt(initial_quantity) - parseInt(item.quantity),
                adj_total:
                    item.inventory_adjustment_type == "increase"
                        ? item.unit_cost * parseInt(item.quantity)
                        : -parseInt(item.unit_cost) * parseInt(item.quantity)
            };
        });
        this.calculateTotal();
    }
};
</script>
