<template>
	<div class="modal-layout-content">
		<a href="#" class="position-absolute variant-modal-close-btn p-2 close" data-dismiss="modal" aria-label="Close"
			@click.prevent="closeModal">
		<i class="la la-close text-grey"></i>
		</a>
		<div class="row mx-0 modal-content-row">
			<!--Left payment details-->
			<div class="col-12 col-md-3 text-center">
				<h5 class="text-center mb-4">{{trans('lang.labels.sales')+' '+trans('lang.labels.details')}}</h5>
				<div class="invoiceLogo text-center" v-if="user.company.logo">
					<img class="text-center" :src="publicPath + user.company.logo" height="50px" width="70px"
						alt="">
				</div>
				<div>
					<div class="header-line-height">
						<small>{{ app_name }}</small>
						<small>{{ dateFormats(finalCart.date) }}</small>
						<small>{{trans('lang.labels.sales')+' '+trans('lang.labels.receipt')}}</small>
						<small>{{ trans('lang.labels.sold_by')}}: {{user.name}}
						</small>
						<small>
						<span>
						{{ trans('lang.labels.sold_to')}}: {{finalCart.customer.name}}
						</span>
						</small>
					</div>
				</div>
			</div>
			<!--Right-->
			<div class="col-12 col-md-9" id="js-payment">
				<div class="invoice-table">
					<table class="table product-card-font" style="font-weight:500">
						<thead class="border-top-0">
							<tr>
								<th class="cart-summary-table text-left" v-if="finalCart.cart.length>1">{{
									trans('lang.labels.items') }}
								</th>
								<th class="cart-summary-table text-left" v-else>{{ trans('lang.labels.item') }}</th>
								<th class="cart-summary-table text-left">{{ trans('lang.labels.qty') }}</th>
								<th class="cart-summary-table text-left">{{ trans('lang.labels.tax') }}</th>
								<th class="cart-summary-table text-right">{{ trans('lang.labels.price') }}</th>
								<th class="cart-summary-table text-right">{{ trans('lang.labels.total') }}</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="cartItem in finalCart.cart">
								<td class="cart-summary-table text-left">
									{{ cartItem.productTitle }}
									<br>
								</td>
								<td class="cart-summary-table">
									{{ cartItem.quantity }}
								</td>
								<td class="cart-summary-table">
									{{ numberFormat(cartItem.taxAmount) }}
								</td>
								<td class="text-right cart-summary-table">
									{{ numberFormat(cartItem.productPrice) }}
								</td>
								<td class="text-right cart-summary-table">
									{{ numberFormat(cartItem.totalPrice * cartItem.quantity) }}
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="cart-summary-table font-weight-bold text-left">{{ trans('lang.labels.sub_total')
									}}
								</td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="text-right cart-summary-table">{{ numberFormat(finalCart.subTotal) }}
								</td>
							</tr>
							<tr>
								<td class="cart-summary-table text-left">{{ trans('lang.labels.discount') }}</td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="text-right cart-summary-table ">{{ numberFormat(finalCart.discountTotal) }}</td>
							</tr>
							<tr>
								<td class="cart-summary-table text-left">{{ trans('lang.labels.tax') }}</td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="text-right cart-summary-table ">{{ numberFormat(finalCart.taxTotal) }}</td>
							</tr>
							<tr>
								<td class="cart-summary-table font-weight-bold text-left">{{ trans('lang.labels.total')
									}}
								</td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="cart-summary-table"></td>
								<td class="text-right cart-summary-table ">{{ numberFormat(finalCart.grandTotal)
									}}
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div v-if="!isPaymentDone" class="payment-done-block">
					<div class="wrap-updatd-total">
						<div class="row mx-0 mb-1 js-payment-title" id="">
							<div class="">
								<h5>{{ trans('lang.labels.total') }}</h5>
							</div>
							<div class="text-right payment-amount">
								<h5> {{ numberFormat(finalCart.grandTotal) }} </h5>
							</div>
						</div>
						<div class="row mx-0 mb-4 js-payment-title" id="" v-if="hasSelectedCurrency()">
							<div class="">
								<h5>{{ trans('lang.labels.total') }} {{selectedCurrency.code}}</h5>
							</div>
							<div class="text-right payment-amount">
								<h5> {{numberFormat((finalCart.grandTotal / exchange_currency_rate),6,selectedCurrency.symbol) }} </h5>
							</div>
						</div>
					</div>
					<div class="wrap-payment-updated-total mb-4" id="js-payment-title">
						<label for="exchange_currency_id">{{ trans('lang.labels.currency') }}</label>
						<select v-model="exchange_currency_id" name="exchange_currency_id" class="custom-select"
							id="exchange_currency_id" @change="changeExchangeCurrency">
							<option value="" selected>{{ trans('lang.labels.select_currency') }}</option>
							<option v-for="currency in currency_options" :key="currency.id" :value="currency.id">{{currency.formatted_name}}</option>
						</select>
						<div class="wrp-input">
							<input type="number" name="exchange_currency_rate" v-model="exchange_currency_rate" min="0.01" step="any" :placeholder="trans('lang.labels.exchange_rate')"  @change="changeExchangeCurrency">
							<span v-if="hasSelectedCurrency()">1 {{selectedCurrency.code}} = {{ numberFormat(exchange_currency_rate, 6) }} </span>
						</div>
					</div>
					<div class="payment-description custom-payment-id" id="js-payment-description">
						<div class="form-group row ml-0">
							<label class="p-0" :for="paid">{{ trans('lang.labels.cash') }}</label>
							<div class="p-0">
								<payment-input id="paid"
									v-if="paymentGauard"
									:max="paymentValue"
									:inputValue="decimalFormat(paymentValue)"
									@input="getPaymentAmount">
								</payment-input>
							</div>
						</div>
						<div class="form-group row ml-0">
							<label class="p-0" :for="paid">{{ trans('lang.labels.ncf') }}</label>
							<div class="p-0">
								<select v-model="ncf_id" name="ncf_id" class="custom-select"
									id="ncf_id">
									<option value="" selected>{{ trans('lang.labels.select_ncf') }}</option>
									<option v-for="ncf_option in ncf_options" :key="ncf_option.id" :value="ncf_option.id">{{ncf_option.name}}</option>
								</select>
							</div>
						</div>

						<!-- <div class="form-group row ml-0 p-0">
							<label class="p-0" :for="'bank_account'" >{{ trans('lang.labels.bank_account') }} <span>*</span></label>
							<div class="dropdown hierarchy-select hierarchy-form-element hierarchy-select-group-by" id="bank-accounts-multilevelselect">
                                <button type="button" class="btn btn-secondary dropdown-toggle" id="bank-accounts-multilevelselect-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="bank-accounts-multilevelselect-button">
                                    <div class="hs-searchbox">
                                        <input type="text" class="form-control" autocomplete="off">
                                    </div>
                                    <div class="hs-menu-inner">
                                        <a class="dropdown-item" data-value="" data-default-selected="" href="javascript::void(0)" disabled>{{ trans('lang.labels.select_account') }}</a>
                                        <a v-for="bank_accounts_option in bank_account_options" :key="bank_accounts_option.id" class="dropdown-item" :data-value="bank_accounts_option.id" :data-level="bank_accounts_option.level" href="javascript::void(0)">
                                            <span class="account-name">{{bank_accounts_option.name[appLocale]}}</span>
                                        </a>
                                    </div>
                                </div>
                                <input class="d-none" v-bind:value="bank_account" name="bank_account" readonly="readonly" aria-hidden="true" type="text" />
                            </div>
						</div> -->

					</div>
					<div>
						<div id="js-payment-action" class="payment-action">
							<div class="row mx-0 mt-2 no-gutters">
								<div class="col-12">
									<div class="payment-group" style="overflow: hidden;">
										<span><button id="1" class="btn app-color mobile-btn mr-1 mb-1 activePayment" style="margin-bottom: 0px !important;line-height: 32px !important;">
										{{ trans('lang.labels.cash') }}
										</button></span>

													<button class="btn btn-block app-color payment-button"
										:disabled="!isConnected && offline == 0"
										@click.prevent="storeInvoice()">
									{{ trans('lang.labels.done_payment') }}
									</button>
									</div>
									<span>
						
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  v-else -->
				<div class="row mx-0 payment-recieved-block" v-else>
					<div class="col-12 text-center">
						<h4>{{ trans('lang.labels.payment_received') }} <i class="las la-check-circle"></i></h4>
					</div>
					<a href="#" @click.prevent="printReceipt()" class="printReceiptButton">
                        <i class="la la-print pr-3"></i>
                        {{ trans('lang.labels.print_receipt') }}
                    </a>
				</div>
			</div>
		</div>
		<invoice :printInvoice="printInvoice"
                 :HTMLcontent="HTMLcontent"
                 :invoiceID="invoiceID"
                 @resetGetInvoice="resetGetInvoice">
        </invoice>
		<!-- <print-receipt-component :print_invoice_before_done_payment="printInvoiceBeforeDonePayment"
			:final_cart="finalCart"
			:payments="payments"
			:sales_note = "salesNote"
			:balance="balance"
			:invoice_template="invoice_template"
			:user="user"
			:logo="logo"
			:shipping_area="shippingArea"
			:shipping_address="shippingAddress"
			:add_shipping_info="addShipmentInfo"
			@resetGetInvoiceBeforeDonePayment="resetGetInvoiceBeforeDonePayment">
			</print-receipt-component> -->
	</div>
</template>
<script>
	import axiosGetPost from '../../helper/axiosGetPostCommon';
	
	export default {
	    extends: axiosGetPost,
	    props: [
	        'user',
	        'finalCart',
	        'ncfs',
	        'currencies',
	        'bank_accounts',
	    ],
	    mounted() {
	        let instance = this;

	        this.ncf_options = JSON.parse(this.ncfs);
	        this.currency_options = JSON.parse(this.currencies);
	        this.bank_account_options = JSON.parse(this.bank_accounts);

	        $('#bank-accounts-multilevelselect').hierarchySelect({
		        // hierarchy: false,
		        search: true,
		        initialValueSet: true,
		        onChange: function (value) {
		        	instance.bank_account = value;
		        }
		    });
	        $(window).resize(function () {
	            instance.setPaymentDescHeight();
	        });
	        this.appLocale = window.appConfig.appLocale
	    },
	    created() {
	        let instance = this;
	        this.noRoundingAmount = this.finalCart.grandTotal;
	        this.setPaymentListData();
	    },
	    watch: {
	        is_connected: function (value) {
	            this.isConnected = value;
	        },
	        finalCart: function (newValue) {
	            if (newValue) {
	                this.paymentValue = this.finalCart.grandTotal;
	            }
			},
			exchange_currency_id: function(newValue, oldValue) {
				if (newValue) {
					let currency = this.currency_options.filter(item => item.id == newValue);
					this.exchange_currency_rate = currency[0].rate;
					if (this.exchange_currency_rate) {
						this.selectedCurrency = currency[0];
					}
				} else {
					this.exchange_currency_rate = "";
					this.selectedCurrency = null;
				}
			}
	    },
	    data() {
	        return {
	            printReceiptView: false,
	            isPaymentDone: false,
	            paymentGauard: true,
	            printInvoice: false,
	            printInvoiceBeforeDonePayment: false,
	            noRoundingAmount: '',
	            paymentValue: '',
	            invoiceID: '',
	            paid: '',
	            ncf_id: '',
	            bank_account: '',
	            exchange_currency_rate: '',
	            exchange_currency_id: '',
	            selectedCurrency: null,
	            paidAmount: '',
	            balance: this.finalCart.grandTotal,
	            hidePaymentListGetLoader: null,
	            paymentStatus: '',
	            HTMLcontent: '',
	            ncf_options: [],
	            currency_options: [],
	            bank_account_options: [],
	            appLocale: 'es'
	        }
	    },
	    methods: {
	    	changeExchangeCurrency(event) {
				let instance = this;

	            if (instance.exchange_currency_id && instance.exchange_currency_rate) {
					instance.selectedCurrency = this.currency_options.find(function(co) { return co.id == instance.exchange_currency_id });
	            }
			},
			/* validateCurrencyDecimal(event) {
				let instance = this;
				// restrict to 6 decimal places
				if(instance.exchange_currency_rate!=null && instance.exchange_currency_rate.indexOf(".")>-1 && (instance.exchange_currency_rate.split('.')[1].length > 5)){
					event.preventDefault();
				}
			}, */
	        hasSelectedCurrency() {
	        	return this.exchange_currency_id && this.exchange_currency_rate && this.exchange_currency_rate > 0 && this.selectedCurrency;
	        },
	        closeModal() {
	        },
	        printReceipt() {
	        	this.printInvoice = true;
	        	this.invoiceID = 1;
	        },
	        printReceiptBeforeDonePayment() {
	            this.printInvoiceBeforeDonePayment = true;
	        },
	        setPaymentListData() {
	            let instance = this;
	            instance.setPayment('cash');
	            instance.hidePaymentListGetLoader = true;
	            instance.setPaymentDescHeight();
	        },
	        setPayment(type, check = true) {
	            let instance = this;
	            instance.PaymentGauard = false;
	            this.paymentType = type;
	            this.paid = parseFloat(this.rounding(this.noRoundingAmount)).toFixed(2);
	            this.paymentValue = this.paid;
	            this.roundingDifference = parseFloat(this.paid - this.noRoundingAmount);
	            setTimeout(function () {
	                instance.PaymentGauard = true;
	            });
	            if (check) {
	                this.calculateBalance();
	            }
	        },
	        rounding(amount) {
	
	            if (this.paymentStatus === 'near_half') {
	                return Math.round((amount) * 2).toFixed() / 2;
	
	            } else if (this.paymentStatus === 'near_integer') {
	                return Math.round(amount);
	
	            } else {
	                return amount;
	            }
	        },
	        setPaymentDescHeight() {
	            setTimeout(function () {
	                let totalHeight = $('#js-payment').height();
	                let paymentTitleHeight = $('#js-payment-title').height();
	                let paymentActionHeight = $('#js-payment-action').height();
	                let paymentDescHeight = totalHeight - (paymentTitleHeight + paymentActionHeight + 30);
	                $('#js-payment-description').height(paymentDescHeight);
	            }, 1000);
	        },
	        getPaymentAmount(value) {
	            this.paid = value;
	            this.calculateBalance();
	        },
	        storeInvoice(action = 'store') {
	            this.storeInvoiceCart(action);
	        },
	        storeInvoiceCart(action) {
	            let instance = this;
	            let cartItemsToStore = this.finalCart;
	            cartItemsToStore.time = moment().unix();
	            cartItemsToStore.paid_amount = this.paid;
	            cartItemsToStore.ncf_id = this.ncf_id;
	            cartItemsToStore.bank_account = this.bank_account;
	            cartItemsToStore.exchange_currency_rate = this.exchange_currency_rate;
	            cartItemsToStore.exchange_currency_id = this.exchange_currency_id;
	
	            if (!navigator.onLine && this.offline == 1) {
	                // in case of offline then save the order in local storage.
	                let localStorageData = localStorage.getItem('salesProduct');
	                if (localStorageData != null) {
	                    let orderDetails = JSON.parse(localStorageData);
	                    orderDetails.push(cartItemsToStore);
	                    localStorage.setItem('salesProduct', JSON.stringify(orderDetails));
	                } else {
	                    localStorage.setItem('salesProduct', JSON.stringify([cartItemsToStore]));
	                }
	                instance.donePaymentCheck = true;
	                instance.isPaymentDone = true;
	                instance.setDestroyCart(true);
	                
	            } else if (navigator.onLine) {
	                // make the request and save the order into the tables.
	                let postUrl = '/pos/order/create';
	                instance.axiosGETorPOST(
	                    {
	                        url: postUrl, //set url
	                        postData: cartItemsToStore, //set post data
	                    },
	                    (success, responseData) => {
	                        // callback after axios method call
	                        if (success) //response after then function
	                        {
	                            instance.invoiceID = responseData.invoice_id;
	                            instance.HTMLcontent = responseData.invoice_template;
	                            instance.isPaymentDone = true;
	                            instance.setDestroyCart(true);
	                        } else {
	                        	instance.showWarningAlert(responseData.message);
	                        }
	                        instance.hidePaymentListGetLoader = true;
	                    }
	                );
	            }
	
	        },
	        setDestroyCart(value) {
	            this.$emit('setDestroyCart', value);
	        },
	        resetGetInvoice(resetGetInvoice) {
                this.printInvoice = resetGetInvoice;
            },
	        getPaidAndExchangeAmount(){
	             let paidAmount = 0,
	                exchangedAmount = 0,
	                condition = this.conditonForReturn;
	
	            this.paymentListData.forEach(function (payment, index) {
	                if (payment.paid) {
	                    paidAmount += parseFloat(payment.paid);
	
	                    if(condition){ //return
	                        // exchangedAmount += payment.paid > 0 ? parseFloat(payment.paid) : 0; 
	                        if(payment.paid > 0){// return 
	                            exchangedAmount += parseFloat(payment.paid);
	                            payment.is_active = false;
	                        }else{
	                            payment.is_active = true;
	                            exchangedAmount += 0;
	                        }
	                    }else{   //sales or purchase
	                        // exchangedAmount += payment.paid < 0 ? parseFloat(payment.paid) : 0; // sales or purchase
	                        if(payment.paid < 0){
	                            exchangedAmount += parseFloat(payment.paid);
	                            payment.is_active = false;
	                        }else{
	                            exchangedAmount += 0;
	                            payment.is_active = true;
	                        }
	                    }
	                }
	            });
	            return {
	                paidAmount : paidAmount,
	                exchangedAmount : exchangedAmount,
	            }
	        },
	        calculateBalance() {
	            /*let data = this.getPaidAndExchangeAmount();
	            if (this.salesOrReceivingType == 'internal-transfer') this.finalCart.grandTotal = this.paid;
	            
	            if(this.conditonForReturn) {
	                // this.exchangeValue = data.exchangedAmount > 0 ? Math.abs(data.exchangedAmount) - Math.abs(parseFloat(this.finalCart.grandTotal)) : data.exchangedAmount;  // return 
	                this.exchangeValue = data.exchangedAmount;  // return 
	            }else{
	                this.exchangeValue = this.noRoundingAmount < 0 ? Math.abs(data.exchangedAmount) + Math.abs(parseFloat(this.noRoundingAmount)) : data.exchangedAmount;  // for salses or purchase
	            }
	
	            const lastIndex = this.paymentListData.length- 1;
	            if (lastIndex >= 0) this.paymentListData[lastIndex].exchange = this.exchangeValue;
	
	            this.paidAmount = data.paidAmount ? data.paidAmount : this.paid;
	            this.balance = (this.finalCart.grandTotal + this.roundingDifference - data.paidAmount - (this.paid)).toFixed(2);*/
	        },
	    }
	}
</script>