<template>
    <div style="display:none">
        <div
                id="cart-print-area"
                style="padding: 20px !important; color: #444d55; font-family: 'Lato', sans-serif;">
            <span></span>
        </div>
    </div>
</template>

<style scoped>
    @media print {
        * {
            color: #000000 !important;
        }
    }
</style>