@import '../components/Variables.scss';

.navbar {
  background-color: $white !important;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);

  .navbar-nav {
    .nav-item {
      .open-todo-icon {
        padding: 12px 16px 5px 16px !important;
      }

      .hide-dropdown-icon {
        &:after {
          display: none;
        }
      }

      .profile-dropdown {
        min-width: 12rem;
      }

      .notification-dropdown {
        min-width: 22rem;
      }

      .avatar {
        height: 35px;
        width: 35px;
        background: $white;
      }

      .avatar-large {
        height: 60px;
        width: 60px;
        float: left;
        margin: 4%;
      }

      .profile-dropdown, .notification-dropdown {
        box-shadow: $main-layout-card-box-shadow;
      }

      .user-name-pic {
        cursor: default !important;
      }

      .user-name-pic:hover {
        background: none !important;
      }

      .user-name {
        display: table;
        height: 80px;
      }

      .user-name > div {
        display: table-cell;
        vertical-align: middle;
      }

      .dropdown-menu {
        top: 135%;

        .ticker {
          position: absolute;
          right: 1rem;
          top: -0.5rem;
          width: 1.1em;
          height: 1.1em;
          border-radius: 0em 0em 0.5em 0em;
          transform: rotate(225deg);
          background: linear-gradient(-45deg, $white 50%, transparent 50%);
        }
      }
    }
  }

  .bg-notification {
    background-color: rgba(0, 123, 255, 0.1);
  }

  .mobile-app-logo {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;

    img {
      max-height: 64px;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .side-nav {
    position: fixed;
    top: 4.2rem;
    bottom: 0;
    left: 0;
    background: $white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1030;
    font-weight: 300;
    width: 50vw;
    transform: translateX(-100%);

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        line-height: 48px;

        a {
          display: block;
          font-size: 14px;
          font-weight: 500;
          height: 48px;
          line-height: 48px;
          padding: 0 32px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          i {
            float: left;
            height: 48px;
            line-height: 48px;
            margin: 0 32px 0 0;
            width: 24px;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }
  }

  .side-nav-animate-show {
    animation: side-nav-slide-right 0.3s forwards;
  }

  .side-nav-animate-hide {
    animation: side-nav-slide-left 0.3s forwards;
    transform: translateX(-100%);
  }

  @keyframes side-nav-slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes side-nav-slide-left {
    0% {
      transform: translateX(0%);

    }
    100% {
      transform: translateX(-100%)
    }
  }

  .side-nav-close {
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 4.2rem;
    background: #ababab6b;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    .side-nav {
      width: 70vw;
    }
  }
}

@media only screen and (max-width: 767px) {
  .dropdown {
    display: inline-block;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    .navbar-nav {
      flex-direction: unset;
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
      .dropdown-menu {
        position: absolute;
        left: unset;
        right: 0;
      }
    }
  }
}

